/*
  Notes:
  - Margin-bottom are set to zero in cases where collapsing could occur.
    - source: https://css-tricks.com/what-you-should-know-about-collapsing-margins/
*/

/*--------- GENERAL STYLES ---------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  color: #ffc021;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}

a {
  color: #b28617;
}

a:hover, a:active, a:focus {
  color: #ffc021;
}

.logo {
  width: 80%;
}

/*--------- LANDING PAGE ---------*/
.Landing, .about {
  padding-top: 25%;
  padding-top: 25vh;
  text-align: center;
}

.landing-subtext {
  padding: 1.5em 1em;
}

.grow {
  -webkit-animation: grow 3s linear;
  animation: grow 3s linear;
}

.fade-in {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width:80%;
  }
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width:80%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/*-- Button and Link --*/
.bl-base {
  position: relative;
  background-color: #ffc021;
  color: #000000;
  box-shadow: 0 8px #b28617;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
}

.bl-base:hover, .bl-base:focus {
  box-shadow: 0 6px #b28617;
  color: #000000;
  top: 4px;
}

.bl-base:active {
  box-shadow: 0 0 #b28617;
  color: #000000;
  top: 8px;
}

button {
   border-radius: 20px;
}

.about-link {
  padding: 0.15em 1.5em;
  margin: 2em auto 0 auto;
  display: inline-block;

}

.login-button {
  padding: 0.15em 1.5em;
  margin: 1em auto 0 auto;
  display: block;
}
/*------- PRACTICE NAV ---------*/

nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav > a {
  margin: 1em auto 0 auto;
}

/*------ PRACTICE AREA --------*/

.practice-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.practice-area {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}



/*------ ABOUT AREA --------*/
.about {
  padding-top: 5%;
  padding-top: 5vh;
  text-align: center;
}

.about-logo {
  width: 50%;
  margin: 2em auto 0 auto;
}

.about-header {
  color: #2160ff;
}

.credits {
  margin-bottom: 0;
  list-style: none;
}

@media only screen and (max-width: 736px) {
  html {
    font-size: 16px;
  }

  .logo {
    width: 95%;
  }

  .bl-base {
    font-size: 1.25em;
  }

  .login-button {
    margin: 1em auto 0 auto;
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 14px;
  }

  .landing-subtext {
    padding: 0.5em 0.5em;
  }
}

/* ----- Show Keyboard focus ------ */
*:focus {
  border: none;
  outline: none;
  outline: 5px #ffecbc dotted;
}

a:hover, a:focus {
  text-decoration: none;
}
