/*--------- GENERAL STYLES ---------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("img/background.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  color: #ffc021;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}

/*--------- LANDING PAGE ---------*/
.Landing {
  padding-top: 25%;
  padding-top: 25vh;
  text-align: center;
  -ms-flex: 1;
  flex: 1;
}

.landing-logo {
  width: 80%;
}

.landing-subtext {
  padding: 1.5em 1em;
  font-size: 1.5rem;
}

.grow {
  -webkit-animation: grow 3s linear;
  animation: grow 3s linear;
}

.fade-in {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width:80%;
  }
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width:80%;
  }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*-- Button and Link --*/
.bl-base {
  position: relative;
  background-color: #ffc021;
  color: #000000;
  box-shadow: 0 8px #b28617;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
}

.bl-base:hover {
  box-shadow: 0 6px #b28617;
  top: 4px;
}

.bl-base:active {
  box-shadow: 0 0 #b28617;
  top: 8px;
}

button {
   border-radius: 20px;
}

.about-link {
  padding: 0.15em 1.5em;
  font-size: 1.25rem;
  margin: 2em auto;
}

.login-button {
  font-size: 1.25rem;
  padding: 0.15em 1.5em;
  margin: 1em auto 2em auto;
  display: block;
}

/*------ PRACTICE AREA --------*/
.practice-area {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 736px) {
  html {
    font-size: 12px;
  }

  .login-button {
    margin: 1em auto 3em auto;
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  .landing-subtext {
    padding: 0.5em 0.5em;
  }
}

/* ----- Show Keyboard focus ------ */
*:focus {
  border: none;
  outline: none;
  outline: 5px #ffecbc dotted;
}

a:hover, a:focus {
  text-decoration: none;
}
