body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* LANDING PAGE */
.Landing {
  text-align: center;
}

.Landing-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Landing-login {
  font-size: large;
  margin-top: 100px;
}

.Login {
  border: 1px;
  padding: 4em 10em;

}

/* QUIZ PAGE */

.Quiz {
  text-align: center;
}

.logout {
  margin-left: 600px;
}

.quiz-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.cards {

}

.current-word {
  float: left;
}

.answer {
  float: right;
}

.score {
  margin-left: 600px;
  margin-top: 400px;

}

.correct-display {
  color: green;
}

.hidden {
  display: none;
}

